<nav class="navbar navbar-expand-lg" style="background-color:rgb(240, 103, 126); font-weight:bold; color:white" border-bottom border-body data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog$y</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/blog/viewBlogs">View Blogs</a>
        </li>


        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Add Blog</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= user.firstName+ " " +user.lastName %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Log out</a></li>
            </ul>
          </li>

          <% } else {%>
           <li class="nav-item">
            <a class="nav-link" href="/user/signup">Create Account</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/user/signin">Signin</a>
          </li>
          <% } %>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" style = "background-color:rgb(201, 69, 89);"  type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
  <div class="container mt-4">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <%= locals.error %>
    </div>
  </div>
  <% } %>